header {
  padding: 0 0 0 20px;
  height: 100%;
  position: relative;

  @media screen and (max-width: 1530px) {
    position: relative;
    max-width: 780px;
    padding: 0;
    margin: 0 auto 20px auto;
  }
  
  #logo {
    display: block;
    height: 38px;
    overflow: hidden;
    text-decoration: none;
    background: white;
    width: 120px;
    padding: 4px 15px 15px 15px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: all .2s;
    border-bottom: 4px solid #1B4353;
    border-left: 4px solid #1B4353;
    border-right: 4px solid #1B4353;
    box-shadow: 0px -16px 147px 34px rgba(0,0,0,0.1);
    position: relative;

    @media screen and (max-width: 1530px) {
      left: -40px;
    }

    @media screen and (max-width: 875px) {
      left: 0;
    }
    
    span.terragon {
      
    }

    span, svg {
      transition: all .2s;
    }
    
    span.social-club, svg {
      opacity: 0;
    }
    
    &:hover, &.logoOpen {
      box-shadow: 0px -16px 147px 34px rgba(0,0,0,0.2);
      height: 175px;

      span.terragon {
        
      }
      
      span.social-club, svg {
        opacity: 1;
      }
      
    }

    span {
      font-family: 'Lily Script One', cursive;
      display: block;
      color: #1B4353;
      

      &.terragon {
        font-size: 24pt;
        margin: 0 0 -5px 0;
      }
      
      &.social-club {
        margin: -10px 0 0 0;
        font-size: 19pt;
      }
      
    }
    
    svg {
      display: block;
      width: 120px;
      height: 120px;
      fill: #1B4353;
    }
    
  }

  a#existingMembers {
    
  }

  #linksout {
    position: absolute;
    bottom: 20px;

    @media screen and (max-width: 1530px) {
      top: 17px;
      right: -40px;
      bottom: auto;
    }

    
    @media screen and (max-width: 875px) {
      right: 0;
    }
    
  }
  
  a.external, a.internal {
    font-family: 'Varela Round', sans-serif;
    position: relative;
    display: block;
    cursor: pointer;
    
    svg {
      display: inline-block;
      opacity: .44;
      transition: all .25s;
      top: 0;
      position: absolute;
      left: 0;
    }

    span {
      font-size: 12pt;
      font-weight: bold;
      top: 9px;
      left: 45px;
      text-decoration: none;
      color: #000;
      opacity: .55;
      transition: opacity .25s;
    }

    &:hover {
      span {
        text-decoration: underline !important;
        opacity: 1;
      }

      svg {
        opacity: 1;
      }
      
    }
    
  }

  .external {
    padding: 5px 0 5px 38px;
    margin: 0 0 5px 0;
    text-decoration: none;

    @media screen and (max-width: 1530px) {
      display: inline-block !important;
      margin-left: 20px;
    }
    
    svg {
      width: 25px;
    }

    span {
      text-decoration: none;
      font-size: 13px !important;
      top: -3px !important;
      position: relative;
      left: 0 !important;
    }
    
  }

  .internal {
    padding: 10px 0 15px 55px;
    margin: 20px 0 20px 0;
    text-decoration: none;

    div.badge {
      font-size: .61em;
      border-radius: 2px;
      display: inline-block;
      padding: 4px 6px 3px 6px;
      color: #FFFFFF;
      background: #FF784F;
      text-transform: uppercase;
      top: -3px;
      margin-right: 5px;
      position: relative;
    }

    &#join {
      padding-left: 0;
      top: -5px !important;
      position: relative;

      @media screen and (max-width: 1530px) {
        position: absolute;
        top: -11px;
        left: 268px;

        &:before {
          content: "/ ";
          position: relative;
          left: 3px;
          opacity: .4;
        }
        
      }
      
      span {
        left: 0;
      }
    }
    
    &#profile {
      padding-left: 44px;
      padding-top: 0;

      &.out {
        padding-bottom: 30px;
      }

      @media screen and (max-width: 1530px) {
        position: absolute;
        top: -10px;
        left: 129px;
      }

      img {
        display: inline-block;
        width: 38px;
        border-radius: 2px;
        left: 0;
        top: 0;
        position: absolute;
        opacity: .96;
      }
      
      span {
        display: block;
        left: 0;
        padding-top: 0px;
        position: relative;
        top: -2px;
        padding-left: 0px;

        &.loggedOut {
          top: 15px;
          left: 15px;
        }
        
      }

      &:hover {
        span {
          text-decoration: none;
        }
        
        img {
          opacity: 1;
        }
      }
      
    }

    &.active1 {
      span {
        text-decoration: underline;
        opacity: 1;
      }
      
    }
    
    &.active {
      background: linear-gradient(90deg, rgba(255,255,255,0.3225665266106442) 0%, rgba(255,255,255,0.34217436974789917) 77%, rgba(255,255,255,0) 100%);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 15px 0 15px 65px;

      span {
        opacity: 1;
        text-decoration: none;
      }

      svg {
        opacity: 1;
      }

    }
    
    svg {
      opacity: 1;
      left: 10px !important;
      top: 5px !important;
      width: 42px;
    }
    
  }

}

