header {
  padding: 0 0 0 20px;
  
  #logo {
    display: block;
    height: 38px;
    overflow: hidden;
    text-decoration: none;
    background: white;
    width: 120px;
    padding: 4px 15px 15px 15px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: all .2s;
    border-bottom: 4px solid #1B4353;
    border-left: 4px solid #1B4353;
    border-right: 4px solid #1B4353;
    box-shadow: 0px -16px 147px 34px rgba(0,0,0,0.1);
    
    span.terragon {
      
    }

    span, svg {
      transition: all .2s;
    }
    
    span.social-club, svg {
      opacity: 0;
    }
    
    &:hover, &.logoOpen {
      box-shadow: 0px -16px 147px 34px rgba(0,0,0,0.2);
      height: 175px;

      span.terragon {
        
      }
      
      span.social-club, svg {
        opacity: 1;
      }
      
    }

    span {
      font-family: 'Lily Script One', cursive;
      display: block;
      color: #1B4353;
      

      &.terragon {
        font-size: 24pt;
        margin: 0 0 -5px 0;
      }
      
      &.social-club {
        margin: -10px 0 0 0;
        font-size: 19pt;
      }
      
    }
    
    svg {
      display: block;
      width: 120px;
      height: 120px;
      fill: #1B4353;
    }
    
  }

}

