<section>
  <h2>
    Member Sign In
    <img src="/assets/betsyross.svg" />
  </h2>
  <div class="screenContainer">
    <form [class.submitting]="loginInformationSubmitting | async" #loginForm="ngForm" (ngSubmit)="attemptLogin(loginForm)">
      <p *ngIf="loginFailed | async">Login failed</p>
      
      <div class="field username">
        <label for="in_name">Username</label>
        <input spellcheck="false" autocomplete="off" id="in_name" ngModel name="name" type="text" />
      </div>
      <div class="field password">
        <label for="in_password">Password</label>
        <input id="in_password" ngModel name="password" type="password" />
      </div>
      
      <ng-container [ngSwitch]="loginInformationSubmitting | async">
        <button *ngSwitchCase="false" class="button" type="submit">Sign In</button>
        <div *ngSwitchCase="true" class="spinner"></div>
      </ng-container>  
    </form>
  </div>
</section>
