@import "~compass-mixins/lib/compass";

#modal {
  $cardWidth: 100%;
  $cardHeight: 100%;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(253,255,252, .2);
  z-index: 888;

  .dialog_card {
    @include transition(all, .25s);
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    background: rgba(253,255,252,.5);
    @include filter(blur(15px));
    border-radius: 7px;
    @include box-shadow(rgba(0,0,0,0) 0 0 5px);
    position: relative;
    margin: 30px auto 0 auto;

    &.visible {
      @include filter(blur(0px));
      @include box-shadow(rgba(0,0,0,.3) 0 0 50px);
    }
    
  }
  
}
