@import "~compass-mixins/lib/compass";

section {
  margin: 0 auto;
  position: relative;
  max-width: 1500px;
  min-height: 100%;

  #content_main {
    min-height: 100%;
    position: relative;
  }

  masthead {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100%;
    
    @media screen and (max-width: 1530px) {
      position: relative;
    }
    
  }

  app-footer {
  }

  #content_sub {
    position: relative;
    z-index: 0;
    padding: 0 0 0 0;
    height: 100%;
  }
  
}

.blur {
  @include transform(translate3d(0,0,0));
  @include transition(all, .25s);
  @include filter(blur(0px));
  
  &.on {
    @include filter(blur(25px));
  }
  
}
