<section *ngIf="(this.screen | async) as screen" class="screenContainer">
  <ng-container *ngIf="loginService.checkedWithServer | async">
    <h2>
    Become a Founding Member
    <img src="/assets/betsyross.svg" />
  </h2>

  <p>Terragon is the home of American culture online. All Americans are welcome, irrespective of race, creed or color. If you&rsquo;re a United States citizen who loves your country and your countrymen, we welcome you to join today.</p>

  <div>
    <form class="screen-1"
          *ngIf="formCardSubmissionErrors | async as formErrors"
          [class.ready]="screen === 2"
          (ngSubmit)="submitCC()">
    <fieldset [disabled]="screen !== 2">
    <p class="copy first">
      As a founding member, you will get a spiffy badge next to your name, access to exclusive content, and lifetime access to Terragon.
    </p>
    <div class="bottom" [class.invite_highlight]="inviteHighlight | async" [class.credit_highlight]="creditHighlight | async">
      <div class="contribution">
        <h3>Invitation Code</h3>
        <p>If you&rsquo;ve got an invitation code, you can join for free!</p>
        <div class="field">
          <input [(ngModel)]="invitationCode"
                 id="in_invitation_code" name="invitation_code" type="text" 
                 placeholder="Invitation Code" (focus)="highlightInvite()" (blur)="resetInvite()" />
        </div>
      </div>
      <div class="or">or</div>
      <div class="form">
        <h3>Billing Information</h3>
        <div class="field">
          <label for="in_cc_name">
            Name on Card
          </label>
          <input [(ngModel)]="creditCardForm.cc_name"
                 id="in_cc_name" name="cc_name" type="text"
                 (focus)="highlightCredit()"
                 (blur)="resetCredit()" />
        </div>
        <div class="field">
          <label for="in_cc_number">
            Card Number
          </label>
          <input [(ngModel)]="creditCardForm.cc_number"
                 id="in_cc_number" name="cc_number" type="text"
                 (focus)="highlightCredit()"
                 (blur)="resetCredit()" />
        </div>
        <div class="field extra nomarg">
          <div class="col">
            <label for="in_zip_code">
              Zip Code
            </label>
            <input [(ngModel)]="creditCardForm.cc_zipcode"
            id="in_zip_code" name="cc_code" type="text"
            (focus)="highlightCredit()"
            (blur)="resetCredit()" />
          </div>
        </div>
        <div class="field extra overflow">
          <div class="col">
            <label for="in_cc_exp_month">
              Expiration Month
            </label>
            <select [(ngModel)]="creditCardForm.cc_exp_month"
            name="cc_exp_month" id="in_cc_exp_month"
            (focus)="highlightCredit()"
            (blur)="resetCredit()">
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="col">
            <label for="in_cc_exp_year">
              Expiration Year
            </label>
            <select [(ngModel)]="creditCardForm.cc_exp_year"
            id="in_cc_exp_year" name="cc_exp_year"  class="year"
            (focus)="highlightCredit()"
            (blur)="resetCredit()">
              <option>2019</option>
              <option>2020</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
              <option>2026</option>
              <option>2027</option>
              <option>2028</option>
              <option>2029</option>
              <option>2030</option>
            </select>
          </div>
        </div>
        <div class="total">
          <span>Annual Fee</span>
          <span>$100</span>
        </div>
        <div class="finish">
          <input (click)="highlightCredit()" (blur)="resetCredit()" [(ngModel)]="creditCardForm.cc_terms_agree" type="checkbox" id="cc_terms_agree" name="agree_terms" />
          <label for="cc_terms_agree">I agree to pay the above total amount according to the card issuer agreement.</label>
        </div>
      </div>
    </div>
    
    <div class="buttonHolder shouldenter" [class.hi]="personalInfoSubmitted | async" [ngSwitch]="ccInformationSubmitting | async">
      <button *ngSwitchCase="false" class="button" type="submit">Finish Signup</button>
      <div *ngSwitchCase="true" class="spinner"></div>
    </div>
    </fieldset>
  </form>
  </div>
  <form *ngIf="formSubmissionErrors | async as formErrors"
        [class.submitted]="screen === 2"
        [class.submitting]="personalInformationSubmitting | async"
        #signupForm="ngForm"
        id="signupForm"
        [class.deemph]="(inviteHighlight | async) || (creditHighlight | async)"
        (ngSubmit)="submitPersonal(signupForm)">
    <div [class.errorVisible]="formErrors.person_name.show" class="field name">
      <div class="error">
        {{formErrors.person_name.message}}
      </div>
      <label for="in_person_name">Name</label>
      <input spellcheck="false" id="in_person_name" ngModel name="person_name" type="text" />
    </div>
    <div [class.errorVisible]="formErrors.name.show" class="field username">
      <div class="error">
        {{formErrors.name.message}}
      </div>
      <div class="status">
        <div [class.visible]="(usernameAvailable | async) && !(invalidUsername | async)" class="current available">
          <div class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9 22l-10-10.598 2.798-2.859 7.149 7.473 13.144-14.016 2.909 2.806z"/></svg>
          </div>
          <span>Username is available!</span>
        </div>
      </div>
      <div class="status">
        <div [class.visible]="!(usernameAvailable | async) && !(invalidUsername | async)" class="current unavailable">
          <div class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z"/></svg>
          </div>
          <span>Username is taken.</span>
        </div>
      </div>
      <label for="in_name">Username</label>
      <input spellcheck="false" autocomplete="off" (ngModelChange)="changeUsername($event)" id="in_name" ngModel name="name" type="text" />
    </div>
    <div [class.errorVisible]="formErrors.email.show" class="field email">
      <div class="error">
        {{formErrors.email.message}}
      </div>
      <label for="in_email">Email Address</label>
      <input id="in_email" ngModel name="email" type="email"/>
    </div>
    <div [class.errorVisible]="formErrors.phone.show" class="field phone">
      <div class="error">
        {{formErrors.phone.message}}
      </div>
      <label for="in_phone">
        Phone Number
        <span [class.hide]="formErrors.phone.show">optional</span>
      </label>
      <input id="in_phone" ngModel name="phone" type="phone"/>
    </div>
    <div [class.errorVisible]="formErrors.password.show"class="field password">
      <div class="error">
        {{formErrors.password.message}}
      </div>
      <label for="in_password">Password</label>
      <input id="in_password" ngModel name="password" type="password" />
    </div>
    <div [class.errorVisible]="formErrors.password.show" class="field password_confirm">
      <div class="error">
        {{formErrors.password.message}}
      </div>
      <label for="in_password_confirm">Confirm Password</label>
      <input id="in_password_confirm" ngModel name="password_confirm" type="password" />
    </div>

    <p>We send out periodic communications to our members using email and text messages. Your private information, including your real name will always be kept completely confidential and will not be shared with anyone, for any reason whatsoever.</p>

    <div class="shouldleave" [class.bye]="screen === 2" [ngSwitch]="personalInformationSubmitting | async">
      <button *ngSwitchCase="false" class="button" type="submit">Next</button>
      <div *ngSwitchCase="true" class="spinner"></div>
    </div>
  </form>
  </ng-container>
</section>
