<div class="posts">
  <section id="hot" class="area">
    <h3><img src="/assets/fire.svg" /> HOT</h3>
    <ol *ngIf="hotFeed | async let feed">
      <li *ngFor="let link of feed.links; index as linkIndex">
        <span *ngIf="link.badges && link.badges.length" class="badge streaming">{{ link.badges.join(' ') }}</span>
        <a (click)="registerClick(linkIndex)" routerLink="/conversations/{{link.slug}}">{{ link.title }}
          <div class="clicks">
            <span *ngFor="let click of clicks[linkIndex]; trackBy: trackByFn" [style.top]="click.y" [style.left]="click.x"></span>
          </div>
        </a>
      </li>
    </ol>
  </section>
  <section id="poll" class="area">
    <h3>APPROVAL POLL</h3>
  </section>
</div>
