@import './../../sass/mixins';
@import "~compass-mixins/lib/compass";

.posts {
  font-family: 'Varela Round', sans-serif;
  position: relative;
  margin: 0 auto 0 auto;
  padding: $flushWithLogoPaddingTop + 20;
  max-width: 780px;
  z-index: 10;

  .area {
    font-family: 'Varela Round', sans-serif;
    font-size: 13px;
    margin: 0 0 15px 0;
    overflow: hidden;

    h3 {
      position: relative;
      margin: 0 0 5px 0;
      padding: 0;
      font-weight: bold;
  
      img {
        width: 24px;
        position: relative;
        display: inline-block;
        top: 4px;
      }
  
    }

    &#hot {
      h3 {
        &:after {
          content: " ";
          position: absolute;
          top: 18px;
          left: 0;
          width: 100%;
          height: 1px;
          border-top: 1px dashed rgba(0,0,0,.3);
          margin-left: 75px;
        }

      }

    }

    &#poll {
      margin: 30px 0 0 3px;
    }

    ol {
      position: relative;
      margin: 0;
      list-style: none;
      display: block;
      padding: 0 0 0 30px;
      columns: 3;
      column-gap: 30px;

      li {
        padding: 0 0 6px 0;
        margin: 0;
        display: block;
        break-inside: avoid-column;

        .badge {
          font-size: .75em;
          margin: 0 5px 0 0;
          opacity: .8;

          &.streaming {

          }

        }

        a {
          font-size: .9em;
          text-decoration: none;
          border-bottom: 1px solid rgba(0,0,0,.2);
          transition: .2s all;
          color: blue;

          &:hover {
            border-bottom: 1px solid rgba(0,0,0,.5);
          }

        }

      }

    }
  
  }

}
